#container {
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    gap: 20px;
    border: 1px solid red;
}

.cards {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 5px;
}

.founder-image {
    width: 100%;
}

.logo {
    width: 50%;
    margin-top: -18px;
}

h3 {
    font-size: 15px;
    margin-bottom: -10px;
}


@media screen and (min-width: 720px) and (max-width: 1024px) {
    #container {
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        border: none;
    }
    h3 {
        font-size: 24px;
    }
    h6 {
        font-size: 18px;
    }
}

@media screen and (min-width: 480px) and (max-width: 720px) {
    #container {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        border: none;
    }

    h3 {
        font-size: 22px;
    }

    h6 {
        font-size: 16px;
    }
}

@media screen and (min-width: 144px) and (max-width: 480px) {
    #container {
        width: 97%;
        grid-template-columns: repeat(1, 1fr);
        border: none;
    }
    h3 {
        font-size: 22px;
    }
    h6 {
        font-size: 16px;
    }
}