* {
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    /* border: 1px solid red; */
    width: 500px;
    /* height: 710px; */
    background-color: rgb(247, 247, 247);
    position: fixed;
    left: 35%;
    padding:10px 20px;
}

.image1 {
    height: 33px;
}

.image {
    height: 220px;
    width: 370px;
}
body{
    background-color: black;
}