#container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 70px 90px 90px 90px;
    /* border: 1px solid black; */
}

#container>div{
    border: 1px solid black;    
    margin: 20px;
}