*{
    margin: 0;
    padding: 0;
}
.main {
    border: 1px solid black;
    height: auto;
    font-family: 'inter';
    background-color: rgb(244, 244, 244);
}

.content {
    color: black;
    background-color: transparent;
}

.home {
    /* border: 1px solid black; */
    margin: 30px;
    background-color: white;
    border-radius: 10px;
    display: flex;
}
.home>div>img {
    /* height:100px; */
    align-items: center;
    /* padding: 19px; */
    width: 150px;
    height: 150px;
    border: 1px solid black;
    margin: 20px;
    border-radius: 20px;
}
.home-1>h3 {
    text-align: center;
}

.Navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: #333
}

.Navbar ul li {
    padding: 10px;
}

.Navbar ul li a {
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    .Navbar ul {
        flex-direction: column;
    }

    .Navbar ul li {
        text-align: center;
    }
}

.Home>h3 {
    color: orange;
}

.Education>h3 {
    color: blue;
}

.Project>h3 {
    color: green;
}

.Skills>h3 {
    color: red;
}

.Contact>h3 {
    color: rgb(54, 123, 123);
}

@media only screen and (max-width:455px) {
    .home{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .home-1{
        justify-content: center;
    }
    .home-1>p {
        margin: 40px;
        text-align: justify;
        align-items: center;
    }
    .home>div>img{
        height: 200px;
        width: 200px;
        margin-top: 20px;
    }
}

@media only screen and (min-width:455px) {
    .home {
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .home-1>p {
        margin: 40px 80px ;
        text-align: justify;
        align-items: center;
    }
}