/* main {
    border: 1px solid black;
    height: 97vh;
    font-family: cursive;
    padding: 70px 120px;
}

h1 {
    font-size: 50px;
}

.p {
    font-size: 21px;
    font-weight: 100;
    color: rgb(122, 122, 122);
}

.img {
    height: 100px;
    margin-top: 70px;
}

.a {
    font-size: 25px;
}

.a {
    font-size: 25px;
}

.left {
    text-align: left;
    color: red;
    font-size: small;
} */